<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank you for filling the form!!</title>
  </head>
  <style>
    .home {
      border: none;
      border-radius: 10px;
      background-color: green;
      color: white;
      padding: 10px 20px;
      cursor: pointer;
    }
  </style>
  <body>
    <h2>Thank you for your feedback!</h2>
    <button class="home" onclick="goToHomepage()">Go to homepage</button>

    <script>
      function goToHomepage() {
        window.location.href = "{{ url_for('index') }}";
      }
    </script>
  </body>
</html>
